<nav class="user-account-navside">
    <ul class="pl-0">
        <li>
            <a href="{{ path('account') }}">
                <i class="fas fa-home"></i>
                Moje Konto
            </a>
        </li>
        <li class="mt-3">
            <a href="{{ path('account_watching_history') }}">
                <i class="fas fa-watch"></i>
                Historia Oglądania
            </a>
        </li>
    </ul>
</nav>