<nav class="user-account-navside">
    <ul class="pl-0">
        <li>
            <a href="{{ path('account') }}">
                <i class="fas fa-home"></i>
                Moje Konto
            </a>
        </li>
    </ul>
</nav>