<header>
    <div class="container-fluid header mt-5 mb-5">
    
        <div class="row mb-3">
            <div class="col-xs-12 col-sm-12 col-md-6 left-side">
                <form id="search-show-form">  
                    <div class="form-group">
                        <h1 class="text-center mb-4">{{ 'find_show.homepage'|trans|raw }}</h1>
                        <input type="text" class="form-control" id="search-show-input" placeholder="Big Time Rush">
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 right-side">
                <form id="search-episode-form"> 
                    <div class="form-group">
                        <h1 class="text-center mb-4">{{ 'find_episode.homepage'|trans|raw }}</h1>
                        <input type="text" class="form-control" name="episodeTerm" id="search-episode-input" placeholder="Jak kręcono victorię ({{ 'at_least_three_characters.homepage'|trans|raw }})">
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="mt-15 container-fluid horizontal-padding-none">

        <center class="hide" id="search-result-spinner">
            <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </center>

        <div id="search-results-wrapper" class="hide">
            <div class="row horizontal-margin-none" id="search-results-container"></div>
        </div>

        <center>
            <div id="no-search-results" class="text-purple"></div>
        </center>

    </div>
</header>